/* src/styles/App.css */
.app-container {
  display: flex;
  height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f9ff;
}

.main-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
}
/* src/styles/App.css */
@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }

  .main-section {
    padding: 16px;
  }
}
